body{
    background-color: darkkhaki;
}
div{
    background-image: url("viit2.jpg") ;
    background-size: 100%;
    padding:20px;
    background-repeat: no-repeat;
}
.div1
{
  background-image: url("viit3.jpg");

}