#para
{
   color: blue;
    text-align: center;
}
body{
    background-color: aqua;
}
div
{
    text-align: center;
    background-color: azure;
    background-position: 30%;
    background-origin: border-box;
}